@charset "utf-8";

/* sideMenu style */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  
  background-color: #ffffff;
  overflow: auto;
}
.sidebar .sideTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.sidebar .sideTop .logo {
  width: 70px;
}
.sidebar .sideTop .logo.show {
  display: none;
}
.sidebar .sideTop .back {
  display: none;
}
.sidebar .sideTop .back.show {
  display: block;
}
.sidebar .sideTop .back button {
  position: relative;
  background-color: transparent;
}
.sidebar .sideTop .back button::before {
  content: "\eac4";
  display: block;
  font-family: xeicon;
  font-size: 32px
}
.sidebar .sideTop .close {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius:100%;
  background-color: transparent;
}
.sidebar .sideTop .close::before {
  display: block;
  content: "\e921";
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-family: xeicon;
  font-size: 24px;
  color: #131313;
}
.sidebar .sideTop .close:hover {
  background-color: #ebebeb;
}

.sidebar .menu {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.sidebar .menu .gnb > li {
  margin-bottom: 20px;
}
.sidebar .menu .gnb > li .point {
  font-size: 32px;
}
.sidebar .menu .gnb > li .item_menu_01,
.sidebar .menu .gnb > li .item_menu_02 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: auto;
}
.sidebar .menu .gnb > li .item_menu_01.show,
.sidebar .menu .gnb > li .item_menu_02.show {
  display: block;
}
.sidebar .menu .gnb > li .item_menu_01 li {
  font-size: 15px;
  font-weight: 900;
  height: 40px;
  line-height: 40px;
}

/* mo -  ~ 767px*/
@media all and (max-width: 413px) {
  .sidebar .sideTop {
    padding: 0 20px;
  }
  .sidebar .menu {
    padding: 80px 20px;
  }
  .sidebar .menu .gnb > li .point {
    font-size: 24px;
  }
  .sidebar .menu .gnb > li .item_menu_01,
  .sidebar .menu .gnb > li .item_menu_02 {
    padding: 80px 20px;
  }  
}